.start_screen > div > img {
    object-fit: contain;
    height: 200px;
    border-radius: 100px;
}


.start_screen > div {
    display: flex;
    flex-direction: column;
}

.start_screen {
    display: grid;
    place-items: center;
    height: 100vh;
}

 
.button {
    display: inline-block;
    background: #154890;
    color: #F5EDE3;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    margin-bottom: 250px;
 }

.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
     transform: translate(0px, -10px) scale(1.2);
}

  /* 154890 6699FF CDBFAC E1D4C0 F5EDE3 FF6600 */
  